In [ ]:
# !pip install ipython-sql sqlalchemy
# Install your specific database driver, e.g.,
# !pip install mysqlclient
# !pip install ipywidgets
# !pip install mysql-connector-python==9.3.0
# !pip install prettytable==3.16.0
# !pip install SQLAlchemy==2.0.40

In [1]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import plotly.express as exp

### Method 1: Use of the SQL Magic Ipython to access database within mysql

In [2]:
# load sql extension
%load_ext sql

#Established database_connection
%sql mysql+mysqlconnector://root:root@localhost/retail_events_db

#set the output table style
# Source - https://stackoverflow.com/a
# Posted by Wayne, modified by community. See post 'Timeline' for change history
# Retrieved 2025-11-11, License - CC BY-SA 4.0

%config SqlMagic.style = '_DEPRECATED_DEFAULT'

**Add New Columns to fact events**

In [ ]:
%%sql
ALTER TABLE fact_events
ADD COLUMN incremental_revenue DECIMAL(12,2) GENERATED ALWAYS AS (base_price * (`quantity_sold(after_promo)` - `quantity_sold(before_promo)`)) STORED;

ALTER TABLE fact_events
ADD COLUMN incremental_sold_units INT(10) GENERATED ALWAYS AS (`quantity_sold(after_promo)` - `quantity_sold(before_promo)`) STORED;

ALTER TABLE fact_events
ADD COLUMN revenue_before_promo DECIMAL(12,2) GENERATED ALWAYS AS (base_price * (`quantity_sold(before_promo)`)) STORED;

ALTER TABLE fact_events
ADD COLUMN revenue_after_promo DECIMAL(12,2) GENERATED ALWAYS AS (base_price * (`quantity_sold(after_promo)`)) STORED;

In [3]:
%sql select * from fact_events limit 10;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
10 rows affected.

[('7f650b', 'STCBE-2', 'CAMP_SAN_01', 'P11', 190, '50% OFF', 34, 52, Decimal('3420.00'), 18, Decimal('6460.00'), Decimal('9880.00')),
 ('a21f91', 'STBLR-8', 'CAMP_DIW_01', 'P03', 156, '25% OFF', 393, 322, Decimal('-11076.00'), -71, Decimal('61308.00'), Decimal('50232.00')),
 ('78bc80', 'STVJD-0', 'CAMP_SAN_01', 'P07', 300, 'BOGOF', 22, 85, Decimal('18900.00'), 63, Decimal('6600.00'), Decimal('25500.00')),
 ('a1503f', 'STCBE-1', 'CAMP_DIW_01', 'P15', 3000, '500 Cashback', 329, 1000, Decimal('2013000.00'), 671, Decimal('987000.00'), Decimal('3000000.00')),
 ('1091cf', 'STBLR-6', 'CAMP_DIW_01', 'P05', 55, '25% OFF', 108, 93, Decimal('-825.00'), -15, Decimal('5940.00'), Decimal('5115.00')),
 ('8.02E+96', 'STBLR-4', 'CAMP_DIW_01', 'P11', 190, '50% OFF', 91, 116, Decimal('4750.00'), 25, Decimal('17290.00'), Decimal('22040.00')),
 ('73d86f', 'STVSK-2', 'CAMP_SAN_01', 'P10', 50, '25% OFF', 31, 26, Decimal('-250.00'), -5, Decimal('1550.00'), Decimal('1300.00')),
 ('fe3560', 'STHYD-4', 'CAMP_DIW_01', 'P13', 350, 'BOGOF', 73, 245, Decimal('60200.00'), 172, Decimal('25550.00'), Decimal('85750.00')),
 ('6b2afc', 'STCBE-4', 'CAMP_SAN_01', 'P08', 1190, 'BOGOF', 30, 79, Decimal('58310.00'), 49, Decimal('35700.00'), Decimal('94010.00')),
 ('ce5851', 'STMDU-2', 'CAMP_SAN_01', 'P03', 200, 'BOGOF', 318, 1265, Decimal('189400.00'), 947, Decimal('63600.00'), Decimal('253000.00'))]

**TO DELETE GENERATED COLUMNS**

In [ ]:
'''
%%sql
ALTER TABLE fact_events
DROP COLUMN incremental_revenue,
DROP COLUMN incremental_sold_units,
DROP COLUMN revenue_before_promo,
DROP COLUMN revenue_after_promo;
'''

1. Which are the top 10 stores in terms of Incremental Revenue (IR) generated from the promotions?

In [4]:
%%sql
WITH ir_cte AS (
    SELECT 
        store_id,
        incremental_revenue
    FROM fact_events
)

SELECT 
    ir.store_id,
    s.city,
    ROUND(SUM(ir.incremental_revenue)/1000000,2) AS incremental_revenue
FROM ir_cte AS ir INNER JOIN dim_stores AS s
ON ir.store_id = s.store_id
GROUP BY store_id
ORDER BY incremental_revenue DESC LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
10 rows affected.

[('STMYS-1', 'Mysuru', Decimal('6.45')),
 ('STCHE-4', 'Chennai', Decimal('6.32')),
 ('STBLR-0', 'Bengaluru', Decimal('6.16')),
 ('STBLR-7', 'Bengaluru', Decimal('6.12')),
 ('STBLR-6', 'Bengaluru', Decimal('6.01')),
 ('STCHE-7', 'Chennai', Decimal('6.00')),
 ('STMYS-3', 'Mysuru', Decimal('5.72')),
 ('STCHE-3', 'Chennai', Decimal('5.71')),
 ('STCHE-6', 'Chennai', Decimal('5.32')),
 ('STBLR-3', 'Bengaluru', Decimal('5.21'))]

2. Which are the bottom 10 stores when it comes to Incremental Sold Units (ISU) during the promotional period ?

In [5]:
%%sql
SELECT store_id, SUM(incremental_sold_units) AS ISU 
FROM fact_events 
GROUP BY store_id
ORDER BY ISU LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
10 rows affected.

[('STMLR-0', Decimal('1952')),
 ('STVSK-3', Decimal('2209')),
 ('STVSK-4', Decimal('2469')),
 ('STTRV-1', Decimal('2604')),
 ('STMLR-2', Decimal('2664')),
 ('STTRV-0', Decimal('2733')),
 ('STVJD-1', Decimal('2763')),
 ('STMLR-1', Decimal('2784')),
 ('STCBE-4', Decimal('2927')),
 ('STVJD-0', Decimal('3046'))]

3. How does the performance of stores vary by city? Are there any common characteristics among the top-performing stores that could be leveraged across other stores ?

In [6]:
%%sql 
WITH revenue_cte AS (
  SELECT 
    store_id, incremental_revenue
  FROM fact_events
),
by_city_cte AS(
  SELECT  c.city , SUM(r.incremental_revenue)  as incremental_revenue
  FROM revenue_cte AS r JOIN dim_stores as c ON r.store_id = c.store_id 
  GROUP BY c.city
)
SELECT RANK() OVER (ORDER BY incremental_revenue DESC) AS city_rank , city, incremental_revenue FROM by_city_cte ;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
10 rows affected.

[(1, 'Bengaluru', Decimal('50764342.00')),
 (2, 'Chennai', Decimal('40501002.00')),
 (3, 'Hyderabad', Decimal('30840347.00')),
 (4, 'Mysuru', Decimal('18855477.00')),
 (5, 'Coimbatore', Decimal('18168706.00')),
 (6, 'Madurai', Decimal('16350832.00')),
 (7, 'Visakhapatnam', Decimal('14854214.00')),
 (8, 'Mangalore', Decimal('6739679.00')),
 (9, 'Vijayawada', Decimal('5418303.00')),
 (10, 'Trivandrum', Decimal('4666060.00'))]

4. What are the top 2 promotion types that resulted in the highest Incremental Revenue ?

In [7]:
%%sql 
WITH revenue_promo_cte AS (
  SELECT 
    promo_type,
    incremental_revenue
  FROM fact_events
)
SELECT promo_type, ROUND(SUM(incremental_revenue)/1000000,2) AS incremental_revenue
FROM revenue_promo_cte
group by promo_type
ORDER BY incremental_revenue DESC
LIMIT 2;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
2 rows affected.

[('500 Cashback', Decimal('122.64')), ('BOGOF', Decimal('69.32'))]

5. What are the bottom 2 promotion types in terms of their impact on Incremental Sold Units ?

In [8]:
%%sql 
WITH revenue_promo_isu_cte AS (
  SELECT 
    promo_type,
    incremental_sold_units
  FROM fact_events
)
SELECT promo_type, SUM(incremental_sold_units) AS isu
FROM revenue_promo_isu_cte
group by promo_type
ORDER BY isu 
limit 2;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
2 rows affected.

[('25% OFF', Decimal('-5717')), ('50% OFF', Decimal('6931'))]

6. Is there a significant difference in the performance of discount-based promotions verse BOGOF or cashback promotions ?

In [9]:
%%sql 
promo_type_data << WITH revenue_promo_isu_cte AS (
  SELECT 
    promo_type,
    incremental_sold_units,
    incremental_revenue
  FROM fact_events
)
SELECT promo_type, 
SUM(incremental_sold_units) AS incremental_sold_units, 
ROUND(SUM(incremental_revenue)/1000000,2) AS `incremental_revenue (in millions)`
FROM revenue_promo_isu_cte
group by promo_type
ORDER BY incremental_sold_units DESC;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
5 rows affected.
Returning data to local variable promo_type_data

In [10]:
promo_type_df = pd.DataFrame(promo_type_data)
promo_type_df

     promo_type incremental_sold_units incremental_revenue (in millions)
0         BOGOF                 157073                             69.32
1  500 Cashback                  40881                            122.64
2       33% OFF                  27255                             15.66
3       50% OFF                   6931                              0.71
4       25% OFF                  -5717                             -1.17

7. Which Promotions strike the best balance between Incremental Sold Units and Maintaining healthy margins ?

In [11]:
fig = exp.scatter(promo_type_df,x="incremental_sold_units", y="incremental_revenue (in millions)",color='promo_type',text='promo_type',opacity=0.8)
fig.update_traces(marker_size=20)
fig.show()

8. Which Product categories saw the most significant lift in sales from the promotions ?

In [12]:
%%sql
WITH isu_cte AS(
    SELECT p.category, SUM(e.incremental_sold_units) AS incremental_sold_units
    FROM fact_events AS e INNER JOIN dim_products AS p ON e.product_code = p.product_code
    GROUP BY p.category
    ORDER BY incremental_sold_units DESC
)
SELECT *  from isu_cte;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
5 rows affected.

[('Grocery & Staples', Decimal('119374')),
 ('Combo1', Decimal('40881')),
 ('Home Appliances', Decimal('38900')),
 ('Home Care', Decimal('21068')),
 ('Personal Care', Decimal('6200'))]

9. Are there specific products that respond exceptionally well or poorly to promotions ?

In [13]:
%%sql
WITH isu_cte AS(
    SELECT p.product_name, SUM(e.incremental_sold_units) AS incremental_sold_units
    FROM fact_events AS e INNER JOIN dim_products AS p ON e.product_code = p.product_code
    GROUP BY p.product_name
    ORDER BY incremental_sold_units DESC
)
SELECT *  from isu_cte;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
15 rows affected.

[('Atliq_Farm_Chakki_Atta (1KG)', Decimal('48950')),
 ('Atliq_Suflower_Oil (1L)', Decimal('43169')),
 ('Atliq_Home_Essential_8_Product_Combo', Decimal('40881')),
 ('Atliq_High_Glo_15W_LED_Bulb', Decimal('21683')),
 ('Atliq_waterproof_Immersion_Rod', Decimal('17217')),
 ('Atliq_Sonamasuri_Rice (10KG)', Decimal('15954')),
 ('Atliq_Curtains', Decimal('11725')),
 ('Atliq_Masoor_Dal (1KG)', Decimal('11301')),
 ('Atliq_Double_Bedsheet_set', Decimal('10855')),
 ('Atliq_Lime_Cool_Bathing_Bar (125GM)', Decimal('2562')),
 ('Atliq_Doodh_Kesar_Body_Lotion (200ML)', Decimal('1765')),
 ('Atliq_Cream_Beauty_Bathing_Soap (125GM)', Decimal('1317')),
 ('Atliq_Body_Milk_Nourishing_Lotion (120ML)', Decimal('556')),
 ('Atliq_Fusion_Container_Set_of_3', Decimal('-735')),
 ('Atliq_Scrub_Sponge_For_Dishwash', Decimal('-777'))]

10. What is the correlation between product category and promotion type effectiveness ?

In [14]:
%%sql
WITH promo_effectiveness_cte AS (
    SELECT 
        p.category,
        fe.promo_type,
        SUM(fe.`quantity_sold(before_promo)`) AS baseline_units,
        SUM(fe.`quantity_sold(after_promo)`) AS promo_units,
        SUM(fe.incremental_sold_units) AS incremental_units
    FROM fact_events fe
    JOIN dim_products p 
        ON fe.product_code = p.product_code
    GROUP BY p.category, fe.promo_type
),

promo_effectiveness_percent AS (
    SELECT
        category,
        promo_type,
        CASE 
            WHEN baseline_units = 0 THEN 0
            ELSE (incremental_units / baseline_units) * 100
        END AS isu_percent
    FROM promo_effectiveness_cte
)

SELECT 
    category,
    promo_type,
    isu_percent
FROM promo_effectiveness_percent
ORDER BY promo_type, isu_percent;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
9 rows affected.

[('Personal Care', '25% OFF', Decimal('-18.0005')),
 ('Home Care', '25% OFF', Decimal('-13.7843')),
 ('Grocery & Staples', '25% OFF', Decimal('-11.9888')),
 ('Grocery & Staples', '33% OFF', Decimal('43.0426')),
 ('Personal Care', '50% OFF', Decimal('32.6272')),
 ('Combo1', '500 Cashback', Decimal('183.3311')),
 ('Home Care', 'BOGOF', Decimal('256.7368')),
 ('Home Appliances', 'BOGOF', Decimal('264.3920')),
 ('Grocery & Staples', 'BOGOF', Decimal('275.7066'))]

### AD-HOC Request Querys

1.Provide a list of products with a base price greater than 500 and that are featured in promo type of 'BOGOF'. This information will help us in identifying a high-value products that are currently been heavily discounted, which can be usefull for evaluting our pricing and promotions strategies.

In [15]:
%%sql
SELECT  DISTINCT p.product_name, 
fe.base_price
FROM fact_events fe JOIN dim_products p 
on fe.product_code = p.product_code
WHERE fe.promo_type = 'BOGOF' AND fe.base_price > 500;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
2 rows affected.

[('Atliq_Double_Bedsheet_set', 1190), ('Atliq_waterproof_Immersion_Rod', 1020)]

2. Generate a report that provides an overview of the number of stores in each city. The results will be sorted in descending order of store counts, allowing us to identify the cities with the highest store presence. The report includes two essential fields: city and store count, which will assist in optimizing our retail operations.

In [16]:
%%sql 
SELECT city, count(store_id) as store_count FROM dim_stores
GROUP BY city
ORDER BY store_count DESC;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
10 rows affected.

[('Bengaluru', 10),
 ('Chennai', 8),
 ('Hyderabad', 7),
 ('Coimbatore', 5),
 ('Visakhapatnam', 5),
 ('Madurai', 4),
 ('Mysuru', 4),
 ('Mangalore', 3),
 ('Trivandrum', 2),
 ('Vijayawada', 2)]

3. Generate a report that displays each campaign along with the total revenue generated before and after the campaign ? The report includes three key fields: 
campaign_name, total_revenue(before_promotion), total_revenue(after_promotion).

This report should help in evaluating the financial impact of our promotional campaigns. (Display the values in millions).

In [17]:
%%sql
WITH campaign_revenue_cte AS(
    SELECT campaign_id,
    revenue_before_promo,
    revenue_after_promo
    FROM fact_events    
)
SELECT n.campaign_name,
ROUND(SUM(c.revenue_before_promo) / 1000000, 2) AS `revenue_before (in Millions)`, 
ROUND(SUM(c.revenue_after_promo) / 1000000 , 2) AS `revenue_after (in Millions)`
FROM campaign_revenue_cte AS c INNER JOIN dim_campaigns n ON c.campaign_id = n.campaign_id
GROUP BY c.campaign_id;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
2 rows affected.

[('Sankranti', Decimal('58.13'), Decimal('140.40')),
 ('Diwali', Decimal('82.57'), Decimal('207.46'))]

4. Produce a report that calculates the Incremental Sold Units (ISU%) for each category during the Diwali Campaign. Additionally, provide rankings for the categories based on their ISU%. The report will include three key fields:
category, isu%, and rank order. This information will assist in assessing the category_wise success and imapct of the diwali campaign on the incremental sales.

In [18]:
%%sql
WITH isu_diwali_cte AS(
    SELECT product_code,
    SUM(incremental_sold_units) AS incremental_sold_unit,
    SUM(`quantity_sold(before_promo)`) AS base_isu
    FROM fact_events
    WHERE campaign_id = (SELECT campaign_id FROM dim_campaigns WHERE campaign_name = 'Diwali')
    GROUP BY product_code, campaign_id
),
isu_by_category_cte AS(
    SELECT p.category AS category,
    SUM(e.incremental_sold_unit) as promo_isu, 
    SUM(e.base_isu) AS base_isu
    FROM isu_diwali_cte AS e INNER JOIN dim_products p ON e.product_code = p.product_code
    GROUP BY category
),
isu_percent_cte AS(
    SELECT category,
    ROUND((promo_isu / base_isu) * 100,2) AS isu_percent
    FROM isu_by_category_cte
)
SELECT RANK() OVER (ORDER BY isu_percent DESC) AS rank_value, category, isu_percent  FROM isu_percent_cte;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
5 rows affected.

[(1, 'Home Appliances', Decimal('244.23')),
 (2, 'Combo1', Decimal('202.36')),
 (3, 'Home Care', Decimal('79.63')),
 (4, 'Personal Care', Decimal('31.06')),
 (5, 'Grocery & Staples', Decimal('18.05'))]

5. Create a report featuring the Top 5 products, ranked by incremental revenue percentage (IR%), across all campaigns. The report will provide essential information including product_name, category, and ir%. This analysis helps identify the most successful products in terms of incremental revenue across our campaigns, assiting in product optimization.

In [19]:
%%sql 
WITH ir_cte AS(
    SELECT 
    product_code,
    SUM(incremental_revenue) AS incremental_revenue,
    SUM(revenue_before_promo) AS base_revenue
    FROM fact_events
    GROUP BY product_code
),
ir_percent_cte AS(
    SELECT p.product_name, 
    p.category, 
    ROUND((ir.incremental_revenue / ir.base_revenue)*100,2) AS ir_percent
    FROM ir_cte AS ir INNER JOIN dim_products as p
    ON ir.product_code = p.product_code
)
SELECT product_name, category, ir_percent, RANK() OVER (ORDER BY ir_percent DESC) AS rank_value FROM ir_percent_cte LIMIT 5;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
5 rows affected.

[('Atliq_waterproof_Immersion_Rod', 'Home Appliances', Decimal('266.19'), 1),
 ('Atliq_High_Glo_15W_LED_Bulb', 'Home Appliances', Decimal('262.98'), 2),
 ('Atliq_Double_Bedsheet_set', 'Home Care', Decimal('258.27'), 3),
 ('Atliq_Curtains', 'Home Care', Decimal('255.34'), 4),
 ('Atliq_Home_Essential_8_Product_Combo', 'Combo1', Decimal('183.33'), 5)]

### A Master Dataset of fact_events for Dashboard

In [4]:
%sql fact_events << select * from fact_events;

 * mysql+mysqlconnector://root:***@localhost/retail_events_db
1500 rows affected.
Returning data to local variable fact_events

In [5]:
dim_stores = pd.read_csv("E://Projects_DA//Sales_Retail_Analysis_SQL//dataset//dim_stores.csv")
dim_products = pd.read_csv("E://Projects_DA//Sales_Retail_Analysis_SQL//dataset//dim_products.csv")
dim_campaigns = pd.read_csv("E://Projects_DA//Sales_Retail_Analysis_SQL//dataset//dim_campaigns.csv")

In [6]:
fact_events_df = pd.DataFrame(fact_events)
fact_events_df.head()

,event_id,store_id,campaign_id,product_code,base_price,promo_type,quantity_sold(before_promo),quantity_sold(after_promo),incremental_revenue,incremental_sold_units,revenue_before_promo,revenue_after_promo
0,7f650b,STCBE-2,CAMP_SAN_01,P11,190,50% OFF,34,52,3420.00,18,6460.00,9880.00
1,a21f91,STBLR-8,CAMP_DIW_01,P03,156,25% OFF,393,322,-11076.00,-71,61308.00,50232.00
2,78bc80,STVJD-0,CAMP_SAN_01,P07,300,BOGOF,22,85,18900.00,63,6600.00,25500.00
3,a1503f,STCBE-1,CAMP_DIW_01,P15,3000,500 Cashback,329,1000,2013000.00,671,987000.00,3000000.00
4,1091cf,STBLR-6,CAMP_DIW_01,P05,55,25% OFF,108,93,-825.00,-15,5940.00,5115.00

In [11]:
retails_sales_df = pd.merge(fact_events_df,dim_stores,on='store_id', how='inner')
retails_sales_df = pd.merge(retails_sales_df,dim_products,on='product_code', how='inner')
retails_sales_df = pd.merge(retails_sales_df,dim_campaigns,on='campaign_id',how='inner')
retails_sales_df.to_csv("E://Projects_DA//Sales_Retail_Analysis_SQL//dataset//final_retail_sales.csv")
retails_sales_df.columns

Index(['event_id', 'store_id', 'campaign_id', 'product_code', 'base_price',
       'promo_type', 'quantity_sold(before_promo)',
       'quantity_sold(after_promo)', 'incremental_revenue',
       'incremental_sold_units', 'revenue_before_promo', 'revenue_after_promo',
       'city', 'product_name', 'category', 'campaign_name', 'start_date',
       'end_date'],
      dtype='object')

In [17]:
res = retails_sales_df.groupby(['campaign_name','category'])[['base_price','quantity_sold(before_promo)','quantity_sold(after_promo)', 'incremental_revenue','incremental_sold_units', 'revenue_before_promo', 'revenue_after_promo',]].sum().reset_index()
res

,campaign_name,category,base_price,quantity_sold(before_promo),quantity_sold(after_promo),incremental_revenue,incremental_sold_units,revenue_before_promo,revenue_after_promo
0,Diwali,Combo1,150000,16791,50769,101934000.00,33978,50373000.00,152307000.00
1,Diwali,Grocery & Staples,73900,58129,68620,6832194.00,10491,22204858.00,29037052.00
2,Diwali,Home Appliances,68500,5230,18003,7777000.00,12773,3180550.00,10957550.00
3,Diwali,Home Care,98000,13326,23938,7832440.00,10612,5176720.00,13009160.00
4,Diwali,Personal Care,21350,16843,22074,506816.00,5231,1638631.00,2145447.00
5,Sankranti,Combo1,150000,5508,12411,20709000.00,6903,16524000.00,37233000.00
6,Sankranti,Grocery & Staples,80100,68841,177724,35791914.00,108883,30786994.00,66578908.00
7,Sankranti,Home Appliances,68500,9483,35610,17373390.00,26127,6302560.00,23675950.00
8,Sankranti,Home Care,98000,6438,16894,8254750.00,10456,3680265.00,11935015.00
9,Sankranti,Personal Care,19600,8461,9430,147458.00,969,833610.00,981068.00